<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--    @thymesVar id="model" type="org.softwire.training.bookish.models.page.BooksDetailModel"-->

    <head>
        <title>Bookish|<td><span th:text="${model.book.title}"></span></td></title>

        <link rel="stylesheet" href="/styles/general.css"/>
        <link rel="stylesheet" href="/styles/navbar.css"/>
        <link rel="stylesheet" href="/styles/book-detail.css"/>
    </head>

    <body>

    <h1><td><span th:text="${model.book.title}"></span></td></h1>

<!--        <div th:replace="fragments/navbar :: navbar">-->
<!--            &lt;!&ndash; This element is replaced by the HTML in fragments/navbar.html &ndash;&gt;-->
<!--        </div>-->

    <form th:action="@{/books/update-book}" method="post">
        <fieldset>
            <legend>Book details:</legend>
            Title:<br>
            <input type="text" name="title" th:value="${model.book.title}">
            <br>
            <br>
            ISBN:<br>
            <input type="text" name="isbn" th:value="${model.book.isbn}">
            <br>
            <br>
            Number of copies:<br>
            <input type="text" name="noOfCopies" th:value="${model.book.noOfCopies}">
            <br>
            <br>
            Number available:<br>
            <input type="text" name="noAvailable" th:value="${model.book.noAvailable}">
            <br>
            <br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>
    <br>
    <td><a th:href="${'/books/delete-book?bookID=' + model.book.id}" class="delete-button">Delete</a></td>

    </body>


</html>