<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--    @thymesVar id="model" type="org.softwire.training.bookish.models.page.BooksDetailModel"-->

    <head>
        <title>Bookish|<td><span th:text="${model.book.title}"></span></td></title>

        <link rel="stylesheet" href="/styles/general.css"/>
        <link rel="stylesheet" href="/styles/navbar.css"/>
        <link rel="stylesheet" href="/styles/book-detail.css"/>
    </head>

    <body>

    <h1><td><span th:text="${model.book.title}"></span></td></h1>

<!--        <div th:replace="fragments/navbar :: navbar">-->
<!--            &lt;!&ndash; This element is replaced by the HTML in fragments/navbar.html &ndash;&gt;-->
<!--        </div>-->

    <form th:action="@{/books/update-book}" method="post">
        <fieldset class="book-details">
            <legend>Book details:</legend>
            Title:<br>
            <input type="hidden" name="id" th:value="${model.book.id}">
            <input type="text" name="title" th:value="${model.book.title}">
            <br>
            <br>
            Author:<br>
            <input type="text" name="author" th:value="${model.book.author}">
            <br>
            <br>
            ISBN:<br>
            <input type="text" name="isbn" th:value="${model.book.isbn}">
            <br>
            <br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>


<!--    <form th:action="@{'/book-detail/' + book.id '/change-copy'}" method="post">-->
<!--        <fieldset class="book-copies">-->
<!--            <legend>Book details:</legend>-->
<!--            Title:<br>-->
<!--            <input type="hidden" name="id" th:value="${model.book.id}">-->
<!--            <input type="text" name="title" th:value="${model.book.title}">-->
<!--            <br>-->
<!--            <br>-->
<!--            Author:<br>-->
<!--            <input type="text" name="author" th:value="${model.book.author}">-->
<!--            <br>-->
<!--            <br>-->
<!--            ISBN:<br>-->
<!--            <input type="text" name="isbn" th:value="${model.book.isbn}">-->
<!--            <br>-->
<!--            <br>-->
<!--            <input type="submit" value="Submit">-->
<!--        </fieldset>-->
<!--    </form>-->


    <table style="width:800px">
        <thead>
        <tr>
            <th>Copy #</th>
            <th>Status</th>
            <th>Change status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bookCopy : ${model.listOfCopies}">
            <td><span th:text="${bookCopy.copyId}">Copy #</span></td>
            <td><span th:text="${bookCopy.status}">Status</span></td>
        </tr>
        </tbody>
    </table>

    <br>
    <br>
    <br>
    <td><a th:href="${'/books/delete-book?bookID=' + model.book.id}" class="delete-button">DELETE BOOK</a></td>

    <div class="add-a-copy">
        <h2>Add a new copy:</h2>
        <form th:action="${'/books/book-detail/' + model.book.id + '/add-copy'}" method="post">
            <div class="add-book-copy-row">
                <label for ="copyId">Copy #</label>
                <input id="copyId" type="text" name="copyId">
            </div>
            <br>
            <div class="add-book-copy-row">
                <label for ="status">Status</label>
                <input id="status" type="text" name="status">
            </div>
            <br>
            <div class="add-book-row">
                <span><!-- spacer --></span>
                <input type="submit" value="Add copy" />
            </div>
        </form>
    </div>
    </body>


</html>