<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


    <head>
        <title>Bookish - Home</title>

        <link rel="stylesheet" href="/styles/general.css"/>
        <link rel="stylesheet" href="/styles/navbar.css"/>
        <link rel="stylesheet" href="/styles/index.css"/>
    </head>

    <body>

<!--        <div th:replace="fragments/navbar :: navbar">-->
<!--            &lt;!&ndash; This element is replaced by the HTML in fragments/navbar.html &ndash;&gt;-->
<!--        </div>-->

        <div class="container">
            <div class="jumbotron">
                <h1>Bookish</h1>

                <p class="lead">Welcome to the Bookish application</p>
                <p class="lead">Find your way around using the links above</p>
            </div>
        </div>
        <div>
<!--            <table>-->
<!--            <tr>-->
<!--                <th>Book</th>-->
<!--                <th>ISBN</th>-->
<!--                <th>Checked out by</th>-->
<!--                <th>Due date</th>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Alfreds Futterkiste</td>-->
<!--                <td>Maria Anders</td>-->
<!--                <td>Germany</td>-->
<!--                <td></td></tdf>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Centro comercial Moctezuma</td>-->
<!--                <td>Francisco Chang</td>-->
<!--                <td>Mexico</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Ernst Handel</td>-->
<!--                <td>Roland Mendel</td>-->
<!--                <td>Austria</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Island Trading</td>-->
<!--                <td>Helen Bennett</td>-->
<!--                <td>UK</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Laughing Bacchus Winecellars</td>-->
<!--                <td>Yoshi Tannamuri</td>-->
<!--                <td>Canada</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Magazzini Alimentari Riuniti</td>-->
<!--                <td>Giovanni Rovelli</td>-->
<!--                <td>Italy</td>-->
<!--            </tr>-->
<!--        </table>-->
        </div>
    </body>


</html>
