h1 {
    margin: 40px;
    font-family: 'McLaren', cursive;
    font-weight: bold;
    font-size: 80px;
    color: black;
    line-height: 100%;
    text-align: center;
}


h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 24px;
}


.technology-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.technology {
    width: 30%;
    background-color: #e9ecef;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.technology img {
    max-width: 100%;
    max-height: 150px;
}


.delete-button {
    margin-top: 10px;

    background-color: indianred;
    border-radius: 15px;
    padding: 10px 15px 10px 15px;

    font-family: 'McLaren', cursive;
    font-size: 14px;
    font-weight:bold;
    color: white;
    text-decoration: none;
    opacity: 0.5;
}
.delete-button:hover {
    opacity: 1;
}


.add-tech-row {
    padding: 5px 0;
    font-family: "Segoe UI", sans-serif;
}

.add-tech-row label {
    display: flex;
    flex-direction: row;
}
.add-tech-row span {
    min-width: 100px;
    display: inline-block;
}

.add-tech-row input[type="text"] {
    flex-grow: 1;
}
.add-tech-row input[type="submit"] {
    background-color: transparent;
    border: 1px solid dodgerblue;
    border-radius: 15px;
    padding: 5px 15px;
}

.book-details {
    width:800px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.book-details input {
    width:40%;
}

.book-details img {
    width:50%;
    }

table {
    width:100%;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}

table th {
    text-align:left;
    font-weight: bold;
    }

table td {
    font-weight:normal;
    }

.add-a-copy {
    width:100%;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}