nav {
    height:100%;
    width: 15%;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    padding: 15px 0;
}

.navbar-title {
    margin: 0 5px 0 20px;
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;
    color: gray;
    line-height: 40px;
}
.navbar-title:hover {
    color: white;
}

.navbar-title a {
    color: unset;
    text-decoration: none;
}

.navbar-item {
    margin-left: 20px;
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;
    color: gray;
    line-height: 40px;
}
.navbar-item:hover {
    color: lightgray;
}

.navbar-item a {
    color: unset;
    text-decoration: none;
}

